In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("/home/prasun/GitDemo/Learning_Deep_Learning/Lesson4/data1.csv")
df.head()

   age  affordibility  bought_insurance
0   22              1                 0
1   25              0                 0
2   47              1                 1
3   52              0                 0
4   46              1                 1

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df[["age","affordibility"]],df[["bought_insurance"]],test_size= 0.2,random_state= 25)

In [15]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_trainS = scaler.fit_transform(X_train)
X_testS = scaler.fit_transform(X_test)