In [2]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import numpy as np 
import pandas as pd
df = pd.read_csv("/home/prasun/GitDemo/Learning_Deep_Learning/Lesson6/banglore_house.csv")
df.head()

   area  bedrooms   price
0  1056         2   39.07
1  2600         4  120.00
2  1440         3   62.00
3  1521         3   75.00
4  1200         2   51.00

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split((df.drop(["price"],axis='columns')), df[['price']], test_size= 0.20)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((16, 2), (4, 2), (16, 1), (4, 1))

In [6]:
from sklearn.preprocessing import MinMaxScaler
scx = MinMaxScaler()
scy = MinMaxScaler()
X_trainsc = scx.fit_transform(X_train) 
y_trainsc = scy.fit_transform(y_train)

In [ ]:
def minibatch(X,y,epochs=100,rate=0.05):